<html>
  <head>
    <style>
      #page_content{
        border: red solid 3px;
      }

      .invalid_data_message{
        color: red;
      }
    </style>
  </head>
  <body>

    <!-- making data accessible in js -->
    <script>
    </script>

    <h1>Go SSR Boilerplate</h1>
    PAGE: {{ .meta.MenuID }}

    <div id="page_content">
      {{template "content" .}}
    </div>

    <script>

      function form(inner, attribs){
        return `<form ${attribs} >${inner}</form>`
      }

      let _data = {{.data}}
      let _meta = {{.meta}}

      console.log("DATA: ", _data)
      console.log("META: ", _meta)

      contentDiv = document.getElementById("ssr_example")
      if (typeof(contentDiv) !== 'undefined' && typeof(render) !== 'undefined') {
        render(contentDiv, _data)
      }
    </script>
  </body>
</html>
