<html>
  <head>
    <style>
      #page_content{
        border: red solid 3px;
      }

      .invalid_data_message{
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Go SSR Boilerplate</h1>
    <h1>PAGE: {{ .meta.MenuID }}</h1>

    {{if .auth.username }}
      <h1>USER: {{.auth.username}}</h1>
    {{end}}


    <a href={{index .routes "home-page"}}>Home</a>
    <a href={{index .routes "login-page"}}>Login</a>

    {{if .auth.username }}
      <a href={{index .routes "user-page"}}>User</a>
      <a href={{index .routes "user-ssr-page"}}>UserSSR</a>
    {{end}}

    <div id="page_content">
      {{template "content" .}}
    </div>
  
    {{ include "framework/framework.gohtml" }}
  </body>
</html>
