<html>
  <head>
    <style>
      #page_content{
        border: red solid 3px;
      }

      .invalid_data_message{
        color: red;
      }
    </style>
  </head>
  <body>

    <!-- making data accessible in js -->
    <script>
    </script>

    <h1>Go SSR Boilerplate</h1>
    PAGE: {{ .meta.MenuID }}

    <div id="page_content">
      {{template "content" .}}
    </div>
  
    {{ include "framework/framework.gohtml" }}
  </body>
</html>
