{{ define "content" }}
<h1>{{.meta.Title}}</h1>

<h1>Fetch example</h1>
<div id="content"></div>

<h1>Server rendering EXAMPLE</h1>
<div>{{stringify .data.User}}</div>

<script>
  
// Anything you might want to do in a normal script
fetch("/api/v1/users").then(res=>{
  res.json().then(body=>{
    console.log(body)
    contentDiv = document.getElementById("content")
    contentDiv.innerHTML = JSON.stringify(body)
  })
})

</script>

{{end}}
