    <script>
      let _data = {{.data }}
      let _meta = {{.meta }}

      console.log("DATA: ", _data)
      console.log("META: ", _meta)
    </script>


    {{ includeJs "framework/framework.js" }}
